<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- {{! Page Meta }} -->
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
  <!-- {{! Styles'n'Scripts }} -->
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/animate.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/pace.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "fonts/icons/icons.css"}}" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
  {{#is "post"}}
  <link rel="stylesheet" href="http://apps.bdimg.com/libs/highlight.js/9.1.0/styles/monokai_sublime.min.css" />
  {{/is}}
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  <div class="container">

    {{> "header"}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> "footer"}}

  </div>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript">
      $(function () {
          $(window).scroll(function () {
              if ($(window).scrollTop() > 100) {
                  $(".back-to-top").fadeIn(800);
              } else {
                  $(".back-to-top").fadeOut(800);
              }
          });
          $(".back-to-top").click(function () {
              $('body,html').animate({scrollTop: 0}, 600);
              return false;
          });
      });
  </script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/min/jquery.fitvids.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/min/pace.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/min/wow.min.js"}}"></script>
  {{! The main JavaScript file for Blacklist }}
  <script type="text/javascript" src="{{asset "js/min/index.min.js"}}"></script>

  {{#is "post"}}
  <!--二维码生成-->
  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery-qrcode/1.0.0/jquery.qrcode.min.js"></script>
  <!-- 代码高亮 -->
  <script type="text/javascript" src="http://apps.bdimg.com/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script type="text/javascript">
      hljs.initHighlightingOnLoad();
  </script>
  {{/is}}

</body>
</html>
